# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# IDE
.idea/
.vscode/

# OS
.DS_Store
